.list_box{
    width: 500px;
    margin: auto;
}
.list_box div{
    height: 50px;
    background: azure;
    margin-bottom: 20px;
    line-height: 50px;
    padding: 0 20px;
}
.list_box div button{
    float: right;
    height:50px;
}